extend layout
block head
	script(type="text/javascript", src="/scripts/home.js")
block content
	.container
		#image_fader
			img(src="/images/Gravity_PreBuy.jpg")
			img(src="/images/Gravity_Buy.jpg")
			img(src="/images/Gravity_PreDrop.jpg")
			img(src="/images/Gravity_Drop.jpg")
		h2 Graviti Rush
		p ...
		div &lt;In Development&gt;
